header, footer {padding: 15px 10px 20px 20px; background-image: url(back.png); background-repeat: repeat-x;}
main {background-image: url(body.png); background-repeat: repeat-x;}

img#a1 {}
p#img {display: flex; justify-content: center; align-items: flex-start; padding: 40px 0px;}

img#logo {float:left; width: 30px; height: 30px; margin: 5px 15px 10px 0px;}

h1 {float:left; width: 65%; font-size: 30px; text-transform: uppercase;}

p.center {width:50%;float:left;}

nav{text-align: right; display: flex}
nav a{margin: 0 20px; font: italic small-caps 20px/1.5 Arial;}