::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  user-select: none;
  overflow: scroll;
  overflow-x: hidden;
}
body header p {
  text-align: center;
  letter-spacing: 3px;
  font-size: 20px;
  height: 30px;
  padding: 10px 0px 5px 0px;
  color: #F0F8FF;
  background: rgba(0, 0, 0, 0.5);
}
body section .hid {
  width: 70%;
  padding: 30px 0 70px 0;
  z-index: 99999;
  position: fixed;
  margin: 5% 15%;
  background: white;
  border-radius: 10px;
}
body section .hid .back_hid {
  width: 5%;
  height: auto;
  margin-left: 92%;
  margin-bottom: 5px;
}
body section .hid div {
  margin: 0 15%;
}
body section .hid div .txt {
  display: flex;
  font-size: 17px;
  border: dotted 2px black;
  text-align: center;
}
body section .hid form .mail {
  margin: 10% 25% 2% 20%;
}
body section .hid form .mail .em_txt {
  font-size: 17px;
  font-weight: bold;
  float: left;
  margin-right: 3%;
}
body section .hid form .mail .butt {
  margin-left: 10px;
  width: 100px;
}
body section .hid .error {
  z-index: 99999;
  position: fixed;
  padding-left: 11%;
}
body section .hid .error .error_txt {
  color: red;
}
body section .fin_hid {
  z-index: 99999;
  position: fixed;
  width: 50%;
  padding: 30px 0 70px 0;
  margin: 15% 25%;
  background: white;
  border-radius: 10px;
}
body section .fin_hid .back_fh {
  width: 5%;
  height: auto;
  margin-left: 92%;
  margin-bottom: 5px;
}
body section .fin_hid div {
  margin: 0 15%;
}
body section .fin_hid div .fin_txt {
  font-size: 17px;
  text-align: center;
}
body main .pretty_back {
  background-image: url(../pictures/im/first-back.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
body main .pretty_back p {
  font-size: 60px;
  padding: 100px 0px;
  color: white;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}
body main .pretty_back p span {
  background: rgba(0, 0, 0, 0.5);
  padding: 4px 1px;
}
body main .lil_inf {
  background: #808080;
}
body main .lil_inf #lil_1 {
  margin: 60px 5% 60px 15%;
  float: left;
  width: 20%;
}
body main .lil_inf #lil_2 {
  margin: 60px 5% 60px 0px;
  float: left;
  width: 20%;
}
body main .lil_inf #lil_3 {
  margin: 60px 15% 60px 0px;
  float: none;
  width: 20%;
}
body main .decor {
  background-image: url(../pictures/im/second-back.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
body main .decor img {
  padding: 20px 5%;
  width: 90%;
}
body main .anim_decor {
  background: white;
  padding-bottom: 30px;
  height: 200px;
}
body main .anim_decor p {
  float: left;
  width: 35%;
  margin-left: 15%;
  margin-top: 20px;
}
body main .anim_decor p .head_dec {
  padding-left: 3%;
  font-size: 33px;
  font-weight: bold;
  text-transform: uppercase;
}
body main .anim_decor p .inf_dec {
  padding-left: 5%;
  font-size: 18px;
  font-weight: normal;
  text-transform: none;
}
body main .anim_decor .img_dec {
  padding: 10px 15%;
  max-height: 200px;
}
body main .products {
  background: #7FFFD4;
  padding: 25px 10%;
}
body main .products .outer_pro div {
  display: flex;
  justify-content: space-evenly;
}
body main .products .outer_pro div img {
  width: 30%;
  height: auto;
  margin: 25px 0px;
  float: left;
  display: flex;
  align-items: center;
}
body main .products .outer_pro div p {
  width: 20%;
  height: 150px;
  margin: auto 0px;
  float: left;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 18px;
}
body main .products .outer_pro div div {
  width: 20%;
  height: 100px;
  margin: auto 0px;
  float: left;
  display: flex;
  align-items: center;
  clear: left;
  background: #32CD32;
  border: 1px solid #32CD32;
  border-radius: 2px;
  box-shadow: 3px 5px 5px #999;
}
body main .products .outer_pro div div p {
  width: auto;
  height: 50px;
  margin: auto auto;
  float: left;
  display: flex;
  align-items: center;
  clear: left;
  font-size: 20px;
}
body main .products .outer_pro div div:active {
  box-shadow: 0px 0px;
}
body main .products .outer_pro div div:hover {
  background: #00FF00;
}
body main .comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .comments .user_name {
  width: 40%;
  margin: 10px 0px 3px 0px;
}
body main .comments textarea {
  width: 40%;
  height: 10%;
}
body footer {
  background: rgba(0, 0, 0, 0.5);
}
body footer p {
  display: flex;
  justify-content: space-around;
  font-size: 21px;
  padding: 3px 0px;
}
body footer p a:link {
  color: white;
  text-decoration: none;
}
body footer p a:visited {
  color: white;
  text-decoration: none;
}

@media (min-width: 1200px) {
  form .mail {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/*
@media (max-width: 1200px) { 
	.pretty_back {
		p {
			@include pretty_txt(25px, 60px 0px);
			span {
				padding: 0px
			}
		}
	}
	.anim_decor {display: none}
	.products {
		.outer_pro {
			padding: 9px 1% !important;
			div {
				img {display: none !important}
				p {
					font-size: 15px;
					width: 45%;
				}
				div {
					width: 45%;
					margin-left: 5px;
				}
			}
		}
	}
}*/

/*# sourceMappingURL=style.css.map */
