$text: white;
$back: #708090;
$back-sect: white;
$text-sect: black;

@mixin head($text-align, $width, $letter-spacing)  {
													float: left; 
													font-size: 20px; 
													text-align: $text-align; 
													width: $width; 
													letter-spacing: $letter-spacing}
@mixin back($back-img) {
						background-image: $back-img;
						background-size:auto;
						background-repeat:no-repeat;}
@mixin header-section {
						font-weight:bold;
				 		font-size:35px;
				 		text-transform:uppercase;}
header {
		a{@include head(left, 20%, 0px);}
		p.mid{@include head(center, 60%, 3px);}
		p.tel{@include head(right, 20%, 3px);}
		height: 30px;
		padding: 10px 15px 5px 15px;
		background: $back;
		color: $text;}

#a { 
	 p{text-align:center;
	   font-size:30px;
	   padding: 160px 0px;}
	 @include back(url(../pics/first-back.jpg));}

.firs { 
		p{ 
		  span{@include header-section;}
		  width:50%;
		  float:left;
		  padding: 60px 20px;
		  margin-right: 100px;
		  text-indent: 20px;}
		background: $back; 
		color: $text;}
	


	.one {
			float: left;
			margin: 60px 5% 60px 15%;
			width: 20%;
			height: width;}
	.two {
			float: left;
			margin: 60px 5% 60px 0px;
			width: 20%;
			height: width;}
	.three {
			margin: 60px 15% 60px 0px;
			width: 20%;
			height: width;}




#b {
	p{
	  text-align:center;
	  font-size:30px;
	  padding: 160px 0px;}
	@include back(url(../pics/second-back.jpg));}

.sec {	
		p{
			span{@include header-section;}
			width:50%;
			float:left;
			padding: 60px 20px;
			margin-right: 100px;
			text-indent: 20px;}
		background: $back-sect;
		color: $text-sect;}
	.inf {
			padding: 40px 0px;
			padding: 10px 20px 20px 0px;
			max-height: 250px}

#c figure{overflow:auto; display: flex;}

footer {text-align: center; color: $text; background: $back;}