header {
  height: 30px;
  padding: 10px 15px 5px 15px;
  background: rgba(0, 0, 0, 0.5);
  color: #F0F8FF; }
  header p {
    float: left;
    font-size: 20px;
    text-align: center;
    width: 100%;
    letter-spacing: 3px; }

#first {
  background-image: url(../pics/first-back.jpg);
  background-size: auto;
  background-repeat: no-repeat; }
  #first p {
    color: white;
    text-align: center;
    font-size: 60px;
    padding: 100px 0px;
    font-weight: bold;
    letter-spacing: 2px; }
    #first p span {
      background: rgba(0, 0, 0, 0.5);
      padding: 3px 1px 4px 1px; }

#second {
  background: rgba(0, 0, 0, 0.5); }
  #second .one {
    float: left;
    margin: 60px 5% 60px 15%;
    width: 20%;
    height: width; }
  #second .two {
    float: left;
    margin: 60px 5% 60px 0px;
    width: 20%;
    height: width; }
  #second .three {
    margin: 60px 15% 60px 0px;
    width: 20%;
    height: width; }

#third {
  background-image: url(../pics/second-back.jpg);
  background-size: auto;
  background-repeat: no-repeat; }
  #third img {
    padding: 100px 5%;
    width: 90%; }

#fourth {
  background: white; }
  #fourth .head-sect {
    float: left;
    padding: 80px 0px 0px 15%;
    font-size: 33px;
    text-indent: 0px;
    margin-right: 0px;
    font-weight: bold;
    text-transform: uppercase; }
  #fourth .inf-sect {
    float: left;
    padding: 0px 15px 60px 17%;
    font-size: 18px;
    text-indent: 20px;
    margin-right: 200px;
    font-weight: normal;
    text-transform: none;
    width: 30%; }
  #fourth .inf {
    padding: 80px 0px;
    max-height: 250px; }

#fifth figure {
  overflow: auto;
  display: flex; }
  #fifth figure img {
    max-height: 250px;
    margin: 60px 30px; }

section {
  background: #7FFFD4;
  padding: 25px 100px; }
  section #products {
    border: 2px dashed black; }
    section #products div {
      display: flex;
      justify-content: space-evenly; }
      section #products div img {
        width: 300px;
        height: 150px;
        margin: 25px 0px;
        float: left;
        display: flex;
        align-items: center; }
      section #products div p {
        width: 300px;
        height: 150px;
        margin: auto 0px;
        float: left;
        display: flex;
        align-items: center;
        padding: auto 0px; }
      section #products div button {
        width: 200px;
        height: 100px;
        margin: auto 0px;
        float: left;
        display: flex;
        align-items: center;
        clear: left;
        background: #32CD32;
        border: 1px solid #32CD32;
        border-radius: 2px;
        box-shadow: 3px 5px 5px #999; }
        section #products div button:active {
          box-shadow: 0px 0px; }
        section #products div button:hover {
          background: #00FF00; }

#sixth {
  background: #FF7F50; }
  #sixth img {
    padding: 60px 0px 60px 200px;
    max-height: 200px; }
  #sixth p {
    float: right;
    display: inline-block;
    width: 50%;
    padding: 113px 100px; }

/*# sourceMappingURL=style.css.map */
